DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=upclass_web
DB_SYNCHRONIZE=true
DB_LOGGING=false

AUTH_COOKIE_NAME=upclass_auth
AUTH_SESSION_SECRET=upclass-web-login
AUTH_EMAIL=admin@upclass.com
AUTH_PASSWORD=UpClass@123
AUTH_NAME=Administrador
AUTH_ROLE=Administrador
AUTH_TTL_HOURS=8
