<div class="row page-titles mx-0">
    <div class="col-sm-8 p-md-0">
        <div class="welcome-text">
            <h4><%= titulo %></h4>
            <p class="mb-0">&raquo; Painel administrativo inicial da plataforma de cursos</p>
        </div>
    </div>
    <div class="col-sm-4 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Inicial</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Categorias</div>
                    <div class="stat-digit"><i class="fa fa-list"></i> CRUD</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary w-100" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Cursos</div>
                    <div class="stat-digit"><i class="fa fa-book"></i> CRUD</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success w-100" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Renderização</div>
                    <div class="stat-digit"><i class="fa fa-desktop"></i> EJS</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning w-100" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="stat-widget-two card-body">
                <div class="stat-content">
                    <div class="stat-text">Banco</div>
                    <div class="stat-digit"><i class="fa fa-database"></i> MySQL</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger w-100" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Base inicial do UpClass Web</h4>
            </div>
            <div class="card-body">
                <p>
                    O UpClass Web centraliza o cadastro, organização e acompanhamento de cursos,
                    categorias, módulos, aulas, matrículas, pagamentos, avaliações e tags.
                </p>
                <p>
                    Nesta primeira etapa, o sistema já possui a estrutura NestJS com EJS,
                    TypeORM, MySQL, layout principal e os módulos administrativos de categorias e cursos.
                </p>
                <a href="/categorias" class="btn btn-primary mr-2">Gerenciar Categorias</a>
                <a href="/cursos" class="btn btn-success">Gerenciar Cursos</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Próximos módulos</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Usuários e autenticação</li>
                    <li class="list-group-item">Módulos e aulas</li>
                    <li class="list-group-item">Matrículas</li>
                    <li class="list-group-item">Pagamentos</li>
                    <li class="list-group-item">Avaliações e tags</li>
                </ul>
            </div>
        </div>
    </div>
</div>
